# App configuration
WEBCHAT_APP__environment="development"
# для продакшен: production

# Database configuration
WEBCHAT_DB__USER="your-db-user"
WEBCHAT_DB__PASSWORD="your-db-password"
WEBCHAT_DB__NAME="web_chat_db"
WEBCHAT_DB__HOST="localhost" # для локалки
WEBCHAT_DB__PORT=5432

# Auth configuration
WEBCHAT_AUTH__APP_SECRET_KEY="your-auth-app-secret-key"
WEBCHAT_AUTH__JWT_ALGORITHM="HS256"

# Redis configuration
WEBCHAT_REDIS__HOST="localhost"
WEBCHAT_REDIS__PORT=6379
WEBCHAT_REDIS__DB=0
